@charset "utf-8";

// Customization

// Importing the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// Setting up initial variables

$orange: #FD2F05;

// Update the sans-serif font family
$family-sans-serif: 'Montserrat', sans-serif;

// Set derived variables
$primary: $orange;

// Importing the rest of Bulma
@import "../node_modules/bulma/bulma";

@media screen and (min-width: 1550px) {
	.container {
	  max-width: 1520px;
	}
}

.has-padding-bottom-2-desktop {
	padding-bottom: 20px;
}
.has-padding-bottom-4-desktop {
	padding-bottom: 40px;
}

.button-outlined {
	border: 2px solid;
	min-height: 60px !important;
	font-size: 18px;
	font-weight: 500;
	background-color: transparent;
	padding: 20px 50px 15px 30px !important;
	color: $primary;

	span {
		background-color: #f7d4d7;
		transition-duration: .2s;
	}
	
	&.orange-hover:hover {
		border-color: $primary !important;

		span {
			color: $primary !important;
			background-color: transparent;		
		}
	}
	
	&.white-hover:hover {
		border-color: #fff !important;

		span {
			color: #fff !important;
			background-color: transparent;		
		}
	}
	&.white-hover-unraised:hover {
		border-color: $primary !important;

		span {
			color: #fff !important;
			background-color: transparent;		
		}
	}
}

.orange-outlined {
	border-color: $primary;
}

.white-outlined {
	border-color: #fff;
}

header {
	position: absolute;
	width: 100%;
	top: 40px;
	padding: 0 40px;

	.navbar {
		.navbar-start {
			align-items: center;

			.navbar-item {
				max-height: 18px;
				padding-top: 0;
				padding-bottom: 0;
				background: #EDEDEDD9;
				padding: 0;
				font-size: 9.7px;
				font-weight: 500;
				transition-duration: .2s;

				&:not(:last-child) {
					margin-right: 60px;
				}

				&:first-child {
					margin-left: 55px;
				}
			}
		}

		.navbar-end {
			.contact-button {
				border: 2px solid #fff;
				min-height: 35px;
				font-size: 9.7px;
				font-weight: 500;
				background-color: transparent;
				padding: 9.5px 36.7px 6.5px 22.3px;

				span {
					background-color: #EDEDEDD9;
					transition-duration: .2s;
				}

				&:hover span{
					color: #fff !important;
					background-color: transparent;
				}
			}
		}
	}
}

.hero-banner {	
	@media screen and (min-width: 320px) {
		clip-path: polygon(0 0, 0 100%, 1880% 0);
		min-height: 780px !important;
	}

	@media screen and (min-width: 440px) {
		min-height: 840px !important;
	}

	@media screen and (min-width: 540px) {
		min-height: 890px !important;
	}

	@media screen and (min-width: 650px) {
		min-height: 945px !important;
	}

	@media screen and (min-width: 768px) {
		min-height: 1040px !important;
	}

	@media screen and (min-width: 850px) {
		min-height: 1100px !important;
	}

	@media screen and (min-width: 950px) {
		min-height: 1150px !important;
	}

	@media screen and (min-width: 1060px) {
		min-height: 1200px !important;
	}
	
	@media screen and (min-width: 1150px) {
		clip-path: polygon(0 0, 0 100%, 380% 0);
		min-height: 800px !important;
	}

	@media screen and (min-width: 1150px) {
		clip-path: polygon(0 0, 0 100%, 380% 0);
		min-height: 850px !important;
	}

	@media screen and (min-width: 1500px) {
		min-height: 945px !important;
	}

	.hero-body {
		align-items: flex-start !important;
		padding-top: 142px;

		@media screen and (min-width: 320px) {
			display: flex;
			flex-direction: column;
		}

		@media screen and (min-width: 1150px) {
			flex-direction: row;
		}

		.container {
			.title {
				font-weight: 500;
				line-height: 1.22;

				span {
					background: #EDEDEDD9;
					padding-right: 10px;
				}

				@media screen and (min-width: 320px) {
					font-size: 27px;
					text-align: center;
					max-width: 200px;
					padding-bottom: 5.5px;
				}

				@media screen and (min-width: 768px) {
					font-size: 32px;
					max-width: unset;
					padding-bottom: 10.5px;
				}

				@media screen and (min-width: 1150px) {
					text-align: left;
				}

				@media screen and (min-width: 1500px) {
					font-size: 64.5px;
					padding-bottom: 25px;
				}
			}

			.subtitle {
				font-weight: 500;

				span {
					background: #EDEDEDD9;
					padding-right: 10px;
				}

				@media screen and (min-width: 320px) {
					font-size: 10.5px;
					text-align: center;
					max-width: 200px;
					line-height: 18px;

					span {
						&:first-child {
							margin-right: -5px;
						}
					}

					br {
						display: none;
					}
				}

				@media screen and (min-width: 768px) {
					font-size: 15.5px;
					max-width: unset;
					line-height: 24px;

					span {
						&:first-child {
							margin-right: 0;
						}
					}

					br {
						display: block;
					}
				}

				@media screen and (min-width: 1150px) {
					text-align: left;
				}

				@media screen and (min-width: 1500px) {
					font-size: 20px;
					line-height: 30px;
				}
			}

			.signup-button {
				border: 2px solid #fff;
				min-height: 52px;
				font-size: 14px;
				font-weight: 500;
				background-color: transparent;
				padding: 18px 43px 15px 25px;

				span {
					background-color: #EDEDEDD9;
					transition-duration: .2s;
				}

				&:hover span{
					color: #fff !important;
					background-color: transparent;
				}

				@media screen and (min-width: 320px) and (max-width: 767px) {
					font-size: 10.25px;
					padding-top: 12px !important;
					padding-bottom: 12px !important;
					min-height: 42px !important;
					padding-left: 16px !important;
					padding-right: 26px !important;
				}
			}

			@media screen and (min-width: 320px) {
				padding-top: 20px;
				display: flex;
				flex-direction: column;
				align-items: center;
				order: 2;
			}

			@media screen and (min-width: 1150px) {
				padding-top: 20px;
				align-items: flex-start;
				order: 1;
			}
		}

		.banner-image {
			width: 100%;
			right: -5px;

			@media screen and (min-width: 320px) {
				position: relative;
			}

			@media screen and (min-width: 1150px) {
				position: absolute;
				max-width: 700px;
			}

			@media screen and (min-width: 1250px) {
				max-width: 800px;
			}

			@media screen and (min-width: 1350px) {
				max-width: 860px;
			}

			@media screen and (min-width: 1650px) {
				max-width: 1020px;
			}
		}
	}
}

.adding-a-button {
	margin-top: -40px;

	.container {
		display: flex;

		@media screen and (min-width: 320px) {
			flex-direction: column;
		}

		@media screen and (min-width: 1500px) {
			flex-direction: row;
		}

		.phone-image {
			margin-top: -260px;
			margin-left: -145px;

			@media screen and (min-width: 320px) {
				display: none;
			}

			@media screen and (min-width: 1500px) {
				display: block;
				flex-shrink: 0;
			}
		}

		.tablet-image {
			@media screen and (min-width: 320px) {
				max-width: 500px;
				margin-left: auto;
				margin-right: auto;
				margin-top: -100px;
				padding: 0 15px;
			}

			@media screen and (min-width: 768px) {
				margin-top: -150px;
			}

			@media screen and (min-width: 1150px) {
				margin-top: -220px;
			}

			@media screen and (min-width: 1500px) {
				max-width: unset;
				margin-top: -200px;
				margin-left: -110px;
				margin-right: 0;
				padding: 0;
				flex-shrink: 0;
			}
		}

		.text-content {
			padding-left: 60px;

			@media screen and (min-width: 320px) and (max-width: 1499px) {
				padding: 0;
				margin: auto;
				padding-left: 45px;
				padding-right: 45px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			.title {
				font-weight: 500;

				span {
					background-color: #f7d4d7;
					
					&:first-child {
						padding-right: 10px;
					}
				}

				@media screen and (min-width: 320px) {
					font-size: 27.25px;
					text-align: center;
					padding-bottom: 10px;
				}

				@media screen and (min-width: 768px) {
					font-size: 32px;
				}

				@media screen and (min-width: 1500px) {
					font-size: 32px;
					font-size: 45px;
					text-align: left;
					padding-bottom: 40px;
					line-height: 55px;
				}
			}

			.subtitle {
				font-weight: 500;
				color: #445875;

				span {
					background-color: #f7d4d7;

					&:not(:last-child) {
						padding-right: 10px;
					}
				}

				@media screen and (min-width: 320px) {
					text-align: center;
					font-size: 10px;
					line-height: 20px;
					max-width: 250px;

					br {
						display: none;
					}
				}

				@media screen and (min-width: 768px) {
					font-size: 15px;
					line-height: 25px;
					max-width: unset;

					br {
						display: block;
					}
				}

				@media screen and (min-width: 1500px) {
					font-size: 17.9px;
					line-height: 30px;
					text-align: left;

					br {
						display: none;
					}
				}

				@media screen and (min-width: 1550px) {
					br {
						display: block;
					}
				}
			}

			.button {
				@media screen and (min-width: 320px) and (max-width: 767px) {
					font-size: 10.25px;
					padding-top: 12px !important;
					padding-bottom: 12px !important;
					min-height: 42px !important;
					padding-left: 16px !important;
					padding-right: 26px !important;
				}
			}
		}
	}
}

.embla {
	position: relative;
	padding-top: 100px;


	.embla__viewport {
		width: 100%;
		overflow: hidden;

		.is-draggable {
			cursor: move;
			cursor: grab;
		}

		.is-dragging {
			cursor: grabbing;
		}

		.embla__container {
			display: flex;

			@media screen and (min-width: 320px) {
				justify-content: center;
				padding-bottom: 20px;
			}

			@media screen and (min-width: 1150px) {
				padding-bottom: 45px;
			}

			.embla__slide {
				flex: 0 0 auto;
				max-width: 1345px;
				width: 100%;
			
				&:not(:first-child) {
					padding-left: 41px;

					@media screen and (min-width: 768px) {
						padding-left: 82px;
					}
				}
			
				&:not(:last-child) {
					padding-right: 41px;

					@media screen and (min-width: 768px) {
						padding-right: 82px;
					}
				}
			
				.embla__slide__inner {
					width: 100%;
					height: 450px;
					background-color: $primary;
					border-radius: 25px;
					position: relative;

					@media screen and (min-width: 320px) {
						height: auto;
						padding: 0 35px;
						display: flex;
						justify-content: center;
					}

					@media screen and (min-width: 600px) {
						justify-content: flex-start;
					}

					@media screen and (min-width: 1150px) {
						padding-left: 50px;
					}

					@media screen and (min-width: 1250px) {
						padding-left: 100px;
					}

					@media screen and (min-width: 1350px) {
						padding-left: 150px;
					}

					@media screen and (min-width: 1450px) {
						padding-left: 165px;
					}
				
					&:after {
						content:'';
						position: absolute;
						top: 100%;
						width: 0;
						height: 0;

						@media screen and (min-width: 320px) {
							left: 135px;
							border-top: solid 15px $primary;
							border-left: solid 15px transparent;
							border-right: solid 15px transparent;
						}

						@media screen and (min-width: 1150px) {
							left: 195px;
							border-top: solid 45px $primary;
							border-left: solid 45px transparent;
							border-right: solid 45px transparent;
						}
					}
				
					.card-percent-overlay {
						background-position: right center;
						background-repeat: no-repeat;
						position: absolute;
						height: 100%;
						max-height: 425px;
						width: 263px;
						right: 34px;
						top: 65px;
						display: flex;
						align-items: center;
						justify-content: center;
				
						.button {
							margin-bottom: -75px;

							@media screen and (min-width: 320px) {
								display: none;
							}

							@media screen and (min-width: 768px) and (max-width: 839px) {
								margin-bottom: -15px;
								margin-right: -120px;
								display: initial;
								font-size: 10.25px;
								padding-top: 12px !important;
								padding-bottom: 12px !important;
								min-height: 42px !important;
								padding-left: 16px !important;
								padding-right: 26px !important;
							}

							@media screen and (min-width: 840px) {
								margin-bottom: -25px;
								display: initial;
								margin-right: -20px;
							}
						}

						@media screen and (min-width: 320px) {
							width: 86px;
							top: -60px;
							right: unset;
							background-image: url('../assets/svg/review-percent-mobile.svg');
						}

						@media screen and (min-width: 600px) {
							top: 60px;
							width: 263px;
							right: 34px;
							background-image: url('../assets/svg/review-percent.svg');
						}
					}
				
					.card-content {
						padding-left: 165px;
						padding-top: 88px;
						display: flex;
						flex-direction: column;
						align-items: flex-start;

						@media screen and (min-width: 320px) {
							padding-left: 0;
							padding-right: 0;
							padding-bottom: 30px;
						}

						@media screen and (min-width: 600px) {
							padding-bottom: 60px;
							padding-top: 60px;
						}

						@media screen and (min-width: 1150px) {
							padding-bottom: 75px;
							padding-top: 85px;
						}
				
						.review-text {
							font-weight: 500;
							color: #fff;
							line-height: 1.2;
							text-align: center;
				
							span {
								background-color: #f7d4d7;
								padding-right: 10px;
							}

							@media screen and (min-width: 320px) {
								font-size: 18px;
							}

							@media screen and (min-width: 768px) {
								font-size: 24px;
							}

							@media screen and (min-width: 840px) {
								font-size: 32px;
							}

							@media screen and (min-width: 1150px) {
								font-size: 45px;
							}
						}
				
						.review-author {
							display: flex;
							align-items: center;

							@media screen and (min-width: 320px) {
								padding-top: 10px;
							}

							@media screen and (min-width: 1150px) {
								padding-top: 36px;
							}
				
							img {
								border-radius: 50%;
								background: #000;
								border: 2px solid #fff;

								@media screen and (min-width: 320px) {
									height: 20px;
									width: 20px;
									margin-right: 15px;
								}

								@media screen and (min-width: 768px) {
									height: 40px;
									width: 40px;
									margin-right: 15px;
								}

								@media screen and (min-width: 1150px) {
									width: 62px;
									height: 62px;
									margin-right: 55px;
								}
							}
				
							.review-author__name {
								font-weight: 500;
								color: #fff;
								background-color: #f7d4d7;

								@media screen and (min-width: 320px) {
									font-size: 10px;
								}

								@media screen and (min-width: 768px) {
									font-size: 12px;
								}

								@media screen and (min-width: 840px) {
									font-size: 18px;
								}

								@media screen and (min-width: 1150px) {
									font-size: 20px;
								}
							}
						}
					}
				}
			}
		}
	}

	.embla__button {
		background-color: transparent;
		position: absolute;
		border: 0;
		width: 112px;
		height: 112px;
		cursor: pointer;
		padding: 0;
	}
	
	.embla__button--prev {
		left: 40px;
		bottom: 120px;

		@media screen and (min-width: 320px) {
			display: none;
		}

		@media screen and (min-width: 1550px) {
			display: block;
		}
	}
	
	.embla__button--next {
		right: 40px;
		bottom: 120px;

		@media screen and (min-width: 320px) {
			display: none;
		}

		@media screen and (min-width: 1550px) {
			display: block;
		}
	}
}

.companies {
	@media screen and (min-width: 320px) {
		padding-top: 0;
	}

	@media screen and (min-width: 768px) {
		padding-top: 50px;
	}

	.container {
		text-align: center;

		@media screen and (min-width: 320px) {
			max-width: 80%;
		}

		.arrow-left,
		.arrow-right {
			top: 30px;
			position: absolute;
			cursor: pointer;

			@media screen and (min-width: 768px) {
				display: none;
			}
		}

		.arrow-left {
			left: 0;
			padding-left: 10px;
		}

		.arrow-right {
			right: 0;
			padding-right: 10px;
		}

		.button {
			margin-top: 5px;
			font-size: 10.25px;
			padding-top: 12px !important;
			padding-bottom: 12px !important;
			min-height: 42px !important;
			padding-left: 16px !important;
			padding-right: 26px !important;

			@media screen and (min-width: 768px) {
				display: none;
			}
		}
	}

	.companies-list {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;

		@media screen and (min-width: 320px) {
			max-width: 130px;
			margin: auto;
			flex-wrap: nowrap;
			overflow: hidden;
		}

		@media screen and (min-width: 600px) {
			max-width: 190px;
		}

		@media screen and (min-width: 768px) {
			max-width: 890px;
			flex-wrap: wrap;
		}

		.company-item {
			cursor: pointer;
			align-items: center;
			display: flex;
			justify-content: center;
			margin: .25rem 0;
			min-height: 80px;
			text-align: center;
			color: #adcfff;
			transition-duration: .2s;
			padding: 0 30px;
			flex-shrink: 0;

			@media screen and (min-width: 768px) {
				margin-bottom: 50px;
			}

			embed {
				width: 125px;
				color: #adcfff;

				@media screen and (min-width: 320px) {
					width: 65px;
				}

				@media screen and (min-width: 600px) {
					width: 125px;
				}

				&:hover {
					color: $primary;
				}

				svg {
					width: 100%;
					color: inherit;
				}
			}
		}
	}
}

.get-your-offer {
	@media screen and (min-width: 320px) {
		padding-top: 90px;
	}

	@media screen and (min-width: 1150px) {
		padding-top: 150px;
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;

		@media screen and (min-width: 320px) {
			flex-direction: column;
		}

		@media screen and (min-width: 1150px) {
			flex-direction: row;
		}

		@media screen and (min-width: 1350px) {
			justify-content: space-evenly;
		}

		.text-content {
			@media screen and (min-width: 320px) {
				text-align: center;
				padding: 0;
			}

			@media screen and (min-width: 1150px) {
				text-align: left;
				padding-right: 90px;
				min-width: 300px;
			}

			@media screen and (min-width: 1250px) {
				min-width: 350px;
			}

			.title {
				font-weight: 500;
				line-height: 1.2;
				margin-bottom: 35px;

				@media screen and (min-width: 320px) {
					font-size: 27.5px;

					.last-break-line {
						display: none;
					}
				}

				@media screen and (min-width: 768px) {
					font-size: 32px;
				}

				@media screen and (min-width: 1250px) {
					font-size: 45px;
					.last-break-line {
						display: block;
					}
				}

				span {
					background-color: #f7d4d7;

					&:not(:last-child) {
						padding-right: 10px;
					}

					@media screen and (min-width: 320px) and (max-width: 1149px) {
						&:last-child {
							margin-left: -10px;
						}
					}
				}
			}

			p {
				font-size: 17.9px;
				font-weight: 500;
				color: #445875;
				line-height: 30px;

				@media screen and (min-width: 320px) {
					display: none;
				}

				@media screen and (min-width: 1150px) {
					display: block;
				}

				span {
					background-color: #f7d4d7;

					&:not(:last-child) {
						padding-right: 10px;
					}
				}
			}
		}

		.media-content {
			max-width: 850px;

			@media screen and (min-width: 320px) {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				.content-desktop {
					display: none;

					@media screen and (min-width: 1150px) {
						display: block;
					}
				}

				.content-mobile {
					@media screen and (min-width: 768px) {
						width: 350px;
					}

					@media screen and (min-width: 1150px) {
						display: none;
					}
				}
			}

			.media-content__dots {
				margin-top: 10px;
				display: flex;
				justify-content: center;

				@media screen and (min-width: 1150px) {
					display: none;
				}
				.media-content__dot {
					background-color: #e6e6e6;
					cursor: pointer;
					position: relative;
					padding: 0;
					border-radius: 50%;
					width: 14px;
					height: 14px;
					border: 0;
					display: flex;
					align-items: center;

					@media screen and (min-width: 768px) {
						width: 20px;
						height: 20px;
					}

					&:not(:last-child) {
						margin-right: 10px;
					}

					&.dot-is-selected {
						background-color: $primary;
					}
				}
			}

			p {
				font-size: 10px;
				max-width: 197px;
				padding-top: 25px;
				font-weight: 500;
				text-align: center;
				line-height: 18px;

				span {
					background-color: #f7d4d7;
				}

				@media screen and (min-width: 768px) {
					font-size: 15px;
					line-height: 24px;
					max-width: 297px;
				}

				@media screen and (min-width: 1150px) {
					display: none;
				}
			}
		}
	}
}

.bold-promise {
	padding-top: 80px;

	.container {
		display: flex;
		justify-content: center;
		align-items: center;

		@media screen and (min-width: 320px) {
			flex-direction: column;
		}

		@media screen and (min-width: 1150px) {
			flex-direction: row;
		}

		.text-content {
			align-self: self-end;

			@media screen and (min-width: 320px) {
				padding: 0;
				align-self: unset;
				max-width: 225px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				order: 2;
			}

			@media screen and (min-width: 768px) {
				max-width: 320px;
			}

			@media screen and (min-width: 1150px) {
				padding-right: 90px;
				padding-bottom: 25px;
				max-width: unset;
				order: 1;
				min-width: 300px;
			}

			@media screen and (min-width: 1250px) {
				min-width: 350px;
			}

			.mobile-text {
				display: block;
				font-size: 10px;
				text-align: center;
				line-height: 20px;
				font-weight: 500;
				margin-bottom: 15px;

				@media screen and (min-width: 768px) {
					font-size: 15px;
					line-height: 25px;
				}

				@media screen and (min-width: 1150px) {
					display: none;
				}
			}

			.desktop-text {
				display: none;

				@media screen and (min-width: 1150px) {
					display: block;
					align-self: flex-start;
				}
			}

			.title {
				font-weight: 500;
				line-height: 1.2;

				@media screen and (min-width: 320px) {
					font-size: 27.5px;
					margin-bottom: 10px;
					margin-left: -40px;

					br {
						display: none;
					}
				}

				@media screen and (min-width: 768px) {
					font-size: 32px;
				}

				@media screen and (min-width: 1150px) {
					margin-bottom: 35px;
					margin-left: 0;
					align-self: flex-start;

					br {
						display: block;
					}
				}

				@media screen and (min-width: 1250px) {
					font-size: 45px;
				}

				span {
					background-color: #f7d4d7;

					&:not(:last-child) {
						padding-right: 10px;
					}

					@media screen and (min-width: 320px) {
						&:last-child {
							margin-left: -10px;
						}
					}

					@media screen and (min-width: 1150px) {
						&:last-child {
							margin-left: 0;
						}
					}
				}
			}

			p {
				font-size: 17.9px;
				font-weight: 500;
				color: #445875;
				line-height: 30px;

				span {
					background-color: #f7d4d7;

					&:not(:last-child) {
						padding-right: 10px;
					}
				}
			}

			.button {	
				@media screen and (min-width: 320px) and (max-width: 767px) {
					margin-top: 5px;
					font-size: 10.25px;
					padding-top: 12px !important;
					padding-bottom: 12px !important;
					min-height: 42px !important;
					padding-left: 16px !important;
					padding-right: 26px !important;
				}
			}
		}

		.media-content {
			width: 100%;

			@media screen and (min-width: 320px) {
				max-width: 250px;
				margin-bottom: 15px;
			}

			@media screen and (min-width: 768px) {
				max-width: 400px;
			}

			@media screen and (min-width: 1150px) {
				max-width: 850px;
				order: 2;
			}
		}
	}
}

.try-it {

	@media screen and (min-width: 320px) {
		padding-top: 90px;
		padding-bottom: 90px;
	}

	@media screen and (min-width: 1150px) {
		padding-top: 190px;
		padding-bottom: 250px;
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;

		.title-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			@media screen and (min-width: 320px) {
				max-width: 225px;
			}

			@media screen and (min-width: 768px) {
				max-width: 320px;
			}

			@media screen and (min-width: 1150px) {
				max-width: unset;
			}

			.title {
				font-weight: 500;
				background-color: #f7d4d7;
				margin-bottom: 10px;

				@media screen and (min-width: 320px) {
					font-size: 27.5px;
					margin-left: -90px;
				}

				@media screen and (min-width: 768px) {
					font-size: 32px;
				}

				@media screen and (min-width: 1250px) {
					font-size: 84.5px;
					margin-left: -200px;
				}
			}

			p {
				font-weight: 500;
				color: #445875;

				@media screen and (min-width: 320px) {
					font-size: 10px;
					line-height: 18px;

					br {
						display: none;
					}
				}

				@media screen and (min-width: 768px) {
					font-size: 15px;
					line-height: 25px;
				}

				@media screen and (min-width: 1150px) {
					font-size: 17.9px;
					line-height: 25px;

					br {
						display: block;
					}
				}

				span {
					background-color: #f7d4d7;

					@media screen and (min-width: 320px) and (max-width: 1149px) {
						&:last-child {
							margin-left: -10px;
						}
					}

					&:not(:last-child) {
						padding-right: 10px;
					}
				}
			}
		}

		.media-content {
			position: relative;
			display: flex;
			align-items: center;
			overflow: unset;

			.arrow-left,
			.arrow-right {
				position: absolute;
				margin-top: -100px;
				cursor: pointer;

				@media screen and (min-width: 1150px) {
					display: none;
				}
			}

			.arrow-left {
				left: -30px;
			}

			.arrow-right {
				right: -30px;
			}


			.media-items-list {
				width: 100%;
				display: flex;
				justify-content: space-between;
	
				@media screen and (min-width: 320px) {
					overflow: hidden;
					max-width: 192px;
					padding-top: 40px;
				}
	
				@media screen and (min-width: 768px) {
					max-width: 252px;
				}

				@media screen and (min-width: 1150px) {
					max-width: 1080px;
					padding-top: 90px;
				}
	
				.media-item {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-between;
	
					@media screen and (min-width: 320px) {
						min-width: 260px;
						flex-shrink: 0;
						width: 100%;
						max-height: 375px;
					}
	
					@media screen and (min-width: 768px) {
						max-height: 500px;
						min-width: 315px;
					}

					@media screen and (min-width: 768px) {
						max-height: 500px;
						max-width: 360px;
					}

					@media screen and (min-width: 1150px) {
						max-height: 550px;
					}
	
					img {
						@media screen and (min-width: 320px) {
							min-width: 190px;
						}
	
						@media screen and (min-width: 768px) {
							min-width: 250px;
						}

						@media screen and (min-width: 1150px) {
							min-width: 290px;
						}
					}
	
					&:not(:last-child) {
						padding-right: 70px;
					}
				}
	
				.media-item-form {
					max-width: 290px;

					@media screen and (min-width: 768px) {
						min-width: 290px;
					}

					form {
						width: 100%;
	
						.field {
							margin-bottom: 25px;

							@media screen and (min-width: 320px) {
								max-width: 310px;
							}
	
							&.image-field {
								padding-top: 15px;
							}
	
							.control {
								&.image-control {
									border: 2px solid $primary;
									border-radius: 18px;
									min-height: 210px;
									display: flex;
									justify-content: center;
									align-items: center;

									@media screen and (min-width: 320px) {
										min-height: 180px;
									}
	
									img {
										min-width: 40px;
										max-width: 45px;
									}
								}
	
								input {
									border-width: 2px;
									padding: 12.25px 30px;
									min-height: 55px;
									font-size: 23.5px;
									font-weight: 500;
									color: $primary;
	
									&::placeholder,
									&::-moz-placeholder,
									&::-webkit-input-placeholder {
										color: $primary;
										opacity: .8;
									}
								}
							}
						}
					}
				}
	
				.button {	
					@media screen and (min-width: 320px) and (max-width: 767px) {
						margin-top: 5px;
						font-size: 10.25px;
						padding-top: 12px !important;
						padding-bottom: 12px !important;
						min-height: 42px !important;
						padding-left: 16px !important;
						padding-right: 26px !important;
					}
				}
			}
		}
	}
}

.hero-contact {
	position: relative;

	.hero-body {
		padding-top: 200px;

		.container {
			display: flex;
			justify-content: center;

			form {
				width: 100%;
				max-width: 800px;
				padding: 0 35px;
				position: relative;

				.arrow-up-btn {
					position: absolute;
					right: -70px;
					top: -120px;
					cursor: pointer;
				}
	
				.field {
					margin-bottom: 25px;

					&.is-grouped {
						.control {
							flex-shrink: 1;

							&.control-image-container {
								.control-image {
									padding: 15px 20px;
									border: 2px solid #fff;
									border-radius: 8px;
									display: flex;
									justify-content: center;
									align-items: center;
									margin-bottom: 10px;
									height: 65px;
								}

								a {
									color: #fff;
									background-color: #f7d4d7;
									font-size: 10.5px;
									font-weight: 500;
									transition-duration: .2s;

									&:hover {
										background-color: transparent !important; 
									}
								}
							}


							&.control-captcha {
								max-width: 164px;
							}
						}

						.button {
							height: 65px;
							margin-left: auto;
							padding-left: 60px !important;
							padding-right: 60px !important;
						}
					}
	
					.control {
						input,
						textarea {
							border-width: 2px;
							border-color: #fff;
							background: transparent;
							padding: 18px 20px 18px 20px;
							font-size: 23.5px;
							font-weight: 500;
							color: #fff;
							border-radius: 8px;
	
							&::placeholder,
							&::-moz-placeholder,
							&::-webkit-input-placeholder {
								color: #fff;
								opacity: .9;
							}
						}

						input {
							min-height: 65px;
						}

						textarea {
							min-height: 150px;
						}
	
						&.has-icons-right {
							input {
								padding-right: 60px;
							}
						}
	
						.is-right {
							top: 14px;
							right: 15px;
						}
					}
				}
			}
		}
	}

	.hero-foot {
		padding-left: 40px;
		padding-right: 40px;

		.footer {
			padding-bottom: 60px;
			background-color: $primary;

			.content {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.design-by {
					display: flex;
					align-items: center;

					p {
						font-size: 15px;
						font-weight: 500;
						background-color: #f7d4d7;
						margin: 0;
					}

					img {
						margin-left: 50px;
					}
				}
			}
		}
	}
}