@charset "utf-8";

// Customization

// Importing the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// Setting up initial variables

$orange: #FD2F05;

// Update the sans-serif font family
$family-sans-serif: 'Montserrat', sans-serif;

// Set derived variables
$primary: $orange;

// Importing the rest of Bulma
@import "../node_modules/bulma/bulma";

@media screen and (min-width: 1550px) {
	.container {
	  max-width: 1520px;
	}
}

.button-outlined {
	border: 2px solid;
	min-height: 60px !important;
	font-size: 18px;
	font-weight: 500;
	background-color: transparent;
	padding: 20px 50px 15px 30px !important;
	color: $primary;

	span {
		background-color: #f7d4d7;
		transition-duration: .2s;
	}
	
	&.orange-hover:hover {
		border-color: $primary !important;

		span {
			color: $primary !important;
			background-color: transparent;		
		}
	}
	
	&.white-hover:hover {
		border-color: #fff !important;

		span {
			color: #fff !important;
			background-color: transparent;		
		}
	}
}

.orange-outlined {
	border-color: $primary;
}

.white-outlined {
	border-color: #fff;
}

header {
	position: absolute;
	width: 100%;
	top: 58px;

	.navbar {
		.navbar-start {
			align-items: center;

			.navbar-item {
				max-height: 18px;
				padding-top: 0;
				padding-bottom: 0;
				background: #EDEDEDD9;
				padding: 0;
				font-size: 9.7px;
				font-weight: 500;
				transition-duration: .2s;

				&:not(:last-child) {
					margin-right: 60px;
				}

				&:first-child {
					margin-left: 55px;
				}
			}
		}

		.navbar-end {
			.contact-button {
				border: 2px solid #fff;
				min-height: 35px;
				font-size: 9.7px;
				font-weight: 500;
				background-color: transparent;
				padding: 9.5px 36.7px 6.5px 22.3px;

				span {
					background-color: #EDEDEDD9;
					transition-duration: .2s;
				}

				&:hover span{
					color: #fff !important;
					background-color: transparent;
				}
			}
		}
	}
}

.hero {
  clip-path: polygon(0 0, 0 100%, 380% 0);
  min-height: 945px !important;

	.hero-body {
		align-items: flex-start !important;
		padding-top: 160px;

		.container {
			.title {
				font-size: 60.5px;
				font-weight: 500;
				line-height: 1.22;
				padding-bottom: 25px;

				span {
					background: #EDEDEDD9;
					padding-right: 10px;
				}
			}

			.subtitle {
				font-size: 15pxpx;
				font-weight: 500;
				line-height: 30px;

				span {
					background: #EDEDEDD9;
					padding-right: 10px;
				}
			}

			.signup-button {
				border: 2px solid #fff;
				min-height: 52px;
				font-size: 14px;
				font-weight: 500;
				background-color: transparent;
				padding: 18px 43px 15px 25px;

				span {
					background-color: #EDEDEDD9;
					transition-duration: .2s;
				}

				&:hover span{
					color: #fff !important;
					background-color: transparent;
				}
			}
		}

		.banner-image {
			position: absolute;
			width: 100%;
			max-width: 1020px;
			right: -5px;
		}
	}
}

.adding-a-button {
	margin-top: -40px;

	.container {
		display: flex;

		.phone-image {
			margin-top: -260px;
			margin-left: -145px;
		}

		.tablet-image {
			margin-top: -200px;
			margin-left: -110px;
		}

		.text-content {
			padding-left: 60px;

			.title {
				font-size: 45px;
				font-weight: 500;
				padding-bottom: 40px;

				span {
					background-color: #f7d4d7;
					
					&:first-child {
						padding-right: 10px;
					}
				}
			}

			.subtitle {
				font-size: 17.9px;
				font-weight: 500;
				color: #445875;
				line-height: 30px;

				span {
					background-color: #f7d4d7;

					&:not(:last-child) {
						padding-right: 10px;
					}
				}
			}
		}
	}
}


.embla {
	position: relative;
	padding-top: 100px;


	.embla__viewport {
		width: 100%;
		overflow: hidden;

		.is-draggable {
			cursor: move;
			cursor: grab;
		}

		.is-dragging {
			cursor: grabbing;
		}

		.embla__container {
			display: flex;
			will-change: transform;
			height: 500px;

			.embla__slide {
				flex: 0 0 auto;
				min-width: 1182px;
			
				&:not(:first-child) {
					padding-left: 82px;
				}
			
				&:not(:last-child) {
					padding-right: 82px;
				}
			
				.embla__slide__inner {
					width: 100%;
					min-width: 1182px;
					max-width: 1182px;
					height: 450px;
					background-color: $primary;
					border-radius: 25px;
					position: relative;
				
					&:after {
						content:'';
						position: absolute;
						top: 100%;
						left: 195px;
						width: 0;
						height: 0;
						border-top: solid 45px $primary;
						border-left: solid 45px transparent;
						border-right: solid 45px transparent;
					}
				
					.card-percent-overlay {
						background-image: url('../assets/svg/review-percent.svg');
						background-position: right center;
						background-repeat: no-repeat;
						position: absolute;
						height: 100%;
						max-height: 425px;
						width: 263px;
						right: 34px;
						top: 65px;
						display: flex;
						align-items: center;
						justify-content: center;
				
						.button {
							margin-bottom: -75px;
						}
					}
				
					.card-content {
						padding-left: 165px;
						padding-top: 88px;
						display: flex;
						flex-direction: column;
						align-items: flex-start;
				
						.review-text {
							font-size: 45px;
							font-weight: 500;
							color: #fff;
							line-height: 1.2;
							text-align: center;
				
							span {
								background-color: #f7d4d7;
								padding-right: 10px;
							}
						}
				
						.review-author {
							display: flex;
							align-items: center;
							padding-top: 36px;
				
							img {
								width: 62px;
								height: 62px;
								border-radius: 50%;
								background: #000;
								border: 2px solid #fff;
								margin-right: 55px;
							}
				
							.review-author__name {
								font-size: 20.5px;
								font-weight: 500;
								color: #fff;
								background-color: #f7d4d7;
							}
						}
					}
				}
			}
		}
	}

	.embla__button {
		background-color: transparent;
		position: absolute;
		border: 0;
		width: 112px;
		height: 112px;
		cursor: pointer;
		padding: 0;
	}
	
	.embla__button--prev {
		left: 40px;
		bottom: 120px;
	}
	
	.embla__button--next {
		right: 40px;
		bottom: 120px;
	}
}